musicbrainzngs~=0.7.1
numpy~=2.4.6
opencv-python~=4.13.0.92
pyzbar~=0.1.9
soundfile>=0.14.0
sounddevice>=0.5.5
playwright>=1.60.0
sqlalchemy~=2.0.50
fpdf2~=2.8.7
qrcode~=8.2
python-barcode
pygubu~=0.40
pygubu-designer~=0.43.3
pillow~=12.2.0
python-json-logger
python-dateutil>=2.9.0
thefuzz
jsonpath_ng
# 0.9.9 eyed3.core.Date does not keep seconds, so use older version
eyeD3==0.9.7
